#sliderSmall {
    position:relative;
    background-size: cover !important;
    background-position: center left !important;
    width:100% !important;
    height:150px;
}

#sportsHeader {
    font-size: 3rem;
    color:rgb(255, 49, 145);
    position: absolute;
    top:0.1%;
    left:45%;
    text-shadow:3px 4px #070706af;
    animation:fadein 1s;
    border-radius: 35%;

}

@media (max-width:850px){
    #sportsHeader {
    font-size: 1.5rem;
    color:rgb(255, 49, 145);
    position: absolute;
    top:2%;
    left:80%;
    margin-left:auto;
    text-shadow:2px 1px #070706af;
    background-color:none;
    animation:fadein 1s;
    }
}
@media (max-width:700px){
    #sportsHeader {
    font-size: 1.8rem;
    color:rgb(255, 49, 145);
    position: absolute;
    top:10%;
    left:40%;
    margin-left:auto;
    text-shadow:1px 1px #070706af;
    background-color:none;
    animation:fadein 1s;
    }
}

#sportsLinks {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

@media(max-width:1300px){
    #sportsLinks {
        display:flex;
        flex-direction:row;
        justify-content: space-evenly;
    }
}

@media(max-width:550px){
    #sportsLinks {
        display:flex;
        flex-direction:column;
        align-items:center;
        margin-top:1%;
    }
}

.indSportsLinks {
    font-size:18px;
    padding-top:1%;
    transition:1s;
}

@media(max-width:1300px){
    .indSportsLinks {
        font-size: 1.5rem;
    }
}

@media(max-width:850px){
    .indSportsLinks {
        font-size: 1.3rem;
        
    }
}
@media(max-width:550px){
    .indSportsLinks {
        font-size: 1.8rem;
        padding-left:8%;
        padding-right:8%;
        letter-spacing:4px;
        
    }
}



.indSportsLinks:hover {
    background-color:rgba(51, 50, 50, 0.096);
}

#christmasBackground {
    background-image:radial-gradient(rgba(253, 251, 246, 0.616),rgba(255, 255, 255, 0.753)),url(../../../src/images/sports/christmasnice.jpg);
    background-size:cover;
}

#celebrationBackground {
    background-image:radial-gradient(rgba(253, 251, 246, 0.698),rgba(255, 255, 255, 0.801)),url(../../../src/images/sports/celebration.jpg);
    background-size:cover;
    width:95%;
    margin:auto;
}
.cont {
    display:flex;
    flex-wrap:wrap;
}
.dividers2 {
    height:5px;
    width:100%;
    margin-bottom: 2%;
    background-color: #000000;
}
.sportsItem {
    width:80%;
    height:max-content;
    background-color: #ffffff;
    margin-bottom:50px;
    text-align: center;
    align-items: center;
    margin:auto;
}

.sportsItem2 {
    width:100%;
    height:max-content;
    background-color: #ffffff;
    margin-bottom:50px;
    text-align: center;
    align-items: center;
    margin:auto;    
}



.cont {
    display:flex;
    font-size: 40px !important;


}


.eventBoardImg {
    height:25%;
    width:50%;
    overflow: hidden;
    transition:5s;
    border-radius:3%;
    box-shadow: #6b6b6bc2;
    margin-bottom:4px;
    border:5px solid grey;
    opacity:0.8;
}