.sportsItem {
    width:80%;
    height:max-content;
    background-color: #ffffff;
    margin-bottom:50px;
    text-align: center;
    align-items: center;
    margin:auto;
        .centredLatest {
            font-size:4rem;
            color:black;
            text-align: center;
            letter-spacing:0.5rem;   
        }
        .indMessageMain {
            display:flex;
            flex-direction: column;
            align-items: center;
            align-content:center;
            width:80%;
            padding-left:10%;
            padding-right:10%;
            margin-bottom: 2%;
            border-bottom:10px solid rgba(0, 0, 0, 0.061);
            background-image:radial-gradient(rgba(253, 251, 246, 0.144),rgba(251, 247, 243, 0.897)),url(../../../src/images/sports/background3.jpg);
            background-size:7000%;

            
            .eventBoardImg {
                height:25%;
                width:50%;
                overflow: hidden;
                transition:5s;
                margin-bottom:4px;
                opacity:0.8;
            }

            .sportEventTitle {
                color:rgba(129, 124, 124, 0.123);
                text-align:left;
            }
            .authorStamp {
                font-size: 1.4rem;
                color:rgba(143, 140, 140, 0.582);
                padding-right:1rem;
                text-align:center;
            }
            
            .delete {
                display:flex;
                flex-direction: row-reverse;
            }
           
        }
        p {
            font-size: 1.6rem;
        }
    }

#sliderSmall {
    position:relative;
    background-size: cover !important;
    background-position: center left !important;
    width:100% !important;
    height:150px;
}





#christmasBackground {
    background-image:radial-gradient(rgba(253, 251, 246, 0.616),rgba(255, 255, 255, 0.753)),url(../../../src/images/sports/christmasnice.jpg);
    background-size:cover;
}

#celebrationBackground {
    background-image:radial-gradient(rgba(253, 251, 246, 0.698),rgba(255, 255, 255, 0.801)),url(../../../src/images/sports/celebration.jpg);
    background-size:cover;
    width:95%;
    margin:auto;
}
.cont {
    display:flex;
    flex-wrap:wrap;
}



.dividers2 {
    height:5px;
    width:100%;
    margin-bottom: 2%;
    background-color: #000000;
}






.sportsItem2 {
    width:100%;
    height:max-content;
    background-color: #ffffff;
    margin-bottom:50px;
    text-align: center;
    align-items: center;
    margin:auto;    
}



.cont {
    display:flex;
    font-size: 40px !important;


}

