body {
    margin:0;
    padding:0;
    font-family: 'Oswald', sans-serif;
    color: #404040;
}

.container {
    width:1100px;
    margin: 0 auto;
}
.page_container {
    min-height: 75vh;
    padding-top: 85px;
}
.main_loader {
    text-align: center;
    margin-top: 100px;
}

.page_wrapper {
    padding-top: 85px;
}

a {
    text-decoration: none;
    color:inherit;
}

.bck_b_light {
    background: #a07f66;
}

.bck_b_dark {
    background: #272723;
}

.dialog_alert {
    padding: 51px;
    font-size: 30px;
}

.load_more_container {
    clear: both;
    margin-bottom: 50px;
    border-top: 5px solid #f5f5f5;
    padding-top: 20px;
}

.load_more_container span {
    cursor: pointer;
    background: #2196F3;
    color: #ffffff;
    font-size: 27px;
    padding: 10px 60px;
    display: table;
    margin: 0 auto;
}

.no_result {
    font-size: 40px;
    color: #999592;
    text-align: center;
    padding-top: 40px;
}

.not_found_container {
    font-size: 70px;
    text-align: center;
    padding-top: 70px;
    color: #dddddd;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*============================
            FORM
==============================*/

input {
    font-size: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 10px;
    width: 100%;
    margin: 10px 0px 0px 0px;
}

button {
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px;
    background: #e1ddc3;
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

.error_label {
    color: #F44336;
    display:block;
    font-size: 15px;
}

textarea {
    width: 100%;
    height: 51px;
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    border: 1px solid #d1d1d1;
}

.form_devider {
    border-bottom: 3px solid #999592;
    margin: 40px 0px;
}

.label_inputs {
    display: inline-block;
    background: #999592;
    color: #fff;
    padding: 5px 5px;
}

select {
    font-size: 16px;
    height: 38px;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    width: 100%;
    margin: 10px 0px 0px 0px;
}
.formBlock {
    margin-bottom: 10px;
}

.form_block_two {
    display:flex;
}
.form_block_two .block{
    flex-grow: 1;
    box-sizing: border-box;
}

.form_block_two .block:nth-child(1) {
    padding-right:10px;
}
.form_block_two .block:nth-child(2) {
    padding-left:10px;
}

.form_success {
    background: #4CAF50;
    color: #ffffffff;
    padding: 10px;
    display: block;
}


/*============================
            BUTTONS
==============================*/
.link_default {
    text-transform: uppercase;
    padding: 10px;
    display: table;
    background: #e1ddc3;
    margin-top: 10px;
}

.card_link,
.bag_link,
.add_to_cart_link {
    width: 100%;
    border: 1px solid #dcdcdc;
    padding: 5px 10px;
    display: block;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color: #c3c0b1;
    background: #f8f8f8;
    transition: all 200ms ease-in;
    cursor: pointer;
}
.card_link:hover,
.bag_link:hover,
.add_to_cart_link:hover {
    background: #aaaaaa;
    color: #ffff;
}
.add_to_cart_link {
    color: #6b6b6b;
    background: #d9d9d9;
}
.add_to_cart_link svg {
    margin-right: 10px;
}

.action_button {
    text-transform: uppercase;
    padding: 10px;
    display: table;
    background: #e1ddc3;
    margin-top: 10px;
}


/*============================
        PAGE TOP
==============================*/

.page_top {
    border-bottom: 1px solid #999592;   
    padding: 20px 0px;
    text-transform: uppercase;
}


/*============================
            HEADER
==============================*/
header {
    position: fixed;
    z-index: 999;
    width: 100%;
    border-bottom: 1px solid white;
}

header .logo {
    font-family: 'Monoton', cursive;
    color: #ffffff;
    font-size: 40px;
    padding: 11px 0px;
}

header a {
    margin-left: 20px;
}

header .container {
    display: flex;
}

header .container .left{
    width: 350px;
}

header .container .right{
   flex-grow: 1;
   border-left: 1px solid #eeeeee;
   border-right: 1px solid #eeeeee;
}
header .container .right .top ,
header .container .right .bottom {
    text-transform: uppercase;
    font-weight: 700;
    text-align: right;
    color:#070606;
    font-size: 15px;
    padding: 10px 20px;
}

header .container .right .top {
    color:#070606;
    border-bottom: 1px solid #ffffff;
}

header .cart_link {
    display: inline-block;
    position: relative;
}

header .cart_link span {
    position: absolute;
    background: red;
    top: 2px;
    color: rgb(7, 6, 6);
    left: -8px;
    border-radius: 50%;
    padding: 0px 7px 2px 7px;
    font-size: 12px;
}
header .log_out_link {
    cursor: pointer;
    display: inline-block;
    margin-left: 20px;
}


/*============================
            FOOTER
==============================*/



footer .logo {
    text-align: center;
    font-family: 'Monoton', cursive;
    color: #ffffff;
    font-size: 40px;
    padding: 11px 0px;
    border-bottom: 1px solid #4d4d4d;
}

footer .wrapper {
    display: flex;
    color: #828282;
}

footer .left,
footer .right {
    flex: 1;
}

footer .business_nfo {
    display: flex;
    flex-wrap: wrap;
}

footer .business_nfo .tag {
    flex-grow: 1;
    position: relative;
    width: 50%;
    margin-bottom: 30px;
}
footer .business_nfo .icon {
    position: absolute;
    font-size: 26px;
    top: 10px;
}
footer .business_nfo .nfo {
    padding-left: 40px;
}



/*============================
        FEATURED IMAGE
==============================*/

.featured_container .featured_image {
    position:relative;
    background-size: cover !important;
    background-position: center left !important;
    height:550px !important;
    width:100%;
}

.featured_container .featured_action {
    position: absolute;
    top: 45%;
    left: 8%;
}

.featured_container .featured_action .tag {
    background: #82828287;
    color: #ffffff;
    padding: 0px 20px;
    text-transform: uppercase;
    display: table;
}

.featured_container .featured_action .tag.title {
    font-size: 70px;
    font-weight: 700;
}

.featured_container .featured_action .tag.low_title {
    font-size: 50px;
    font-weight: 300;
    margin-top: 10px;
}

/*============================
        FEATURED PROMOTION
==============================*/

.home_promotion .home_promotion_img {
    height: 400px;
    background-size: cover !important;
    background-position: top center !important;
    padding: 73px;
    box-sizing: border-box;
}


.home_promotion .tag {
    background: #82828287;
    color: #ffffff;
    padding: 0px 20px;
    text-transform: uppercase;
    display: table;
}

.home_promotion .tag.title {
    font-size: 70px;
    font-weight: 700;
    margin: 10px auto;
}

.home_promotion .tag.low_title {
    font-size: 50px;
    font-weight: 300;
    margin-top: 10px;
    margin: 0 auto;
}

.home_promotion .my_link a {
    margin: 10px auto;
}


/*============================
        CARD BLOCK
==============================*/

.card_block {
    margin: 110px 0px;
}

.card_block .title {
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}

.card_block_shop .card_item_wrapper {
    float: left;
    width: 33.3%;
    margin-bottom: 20px;
}

/*============================
        CARD ITEM
==============================*/

.card_item_wrapper {
    flex-grow: 1;
    width: 25%;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.card_item_wrapper .image {
    width: 100%;
    height: 280px;
    background-position: center !important;
    background-size: cover !important;
    border: 1px solid #f0f0f0;
}


.card_item_wrapper .tags {
    position: relative;
    border-bottom: 1px solid #f0f0f0;
}

.card_item_wrapper .tags .brand,
.card_item_wrapper .tags .name,
.card_item_wrapper .tags .price {
    text-align: center;
    margin: 5px;
}

.card_item_wrapper .tags .brand {
    font-size: 17px;
    font-weight: 700;
    color: #2196F3;
}

.card_item_wrapper .tags .name {
    font-size: 21px;
    font-weight: 700;
}

.card_item_wrapper .tags .price {
    font-weight: 300;
    font-size: 21px;
}

.card_item_wrapper .actions {
    display: flex;
    padding: 15px 0 10px 0;
}

.card_item_wrapper .actions .button_wrapp:nth-child(1) {
    flex-grow: 1;
    padding-right: 10px;
}

.card_item_wrapper.grid_bars {
    float: none;
    width: 100%;
    display: flex;
}

.card_item_wrapper.grid_bars .image {
    width: 420px;
    height: 211px;
    border: none;

}

.card_item_wrapper.grid_bars .action_container {
    flex-grow: 1;
    border: 1px solid #e6e6e6;
}

.card_item_wrapper.grid_bars .description{
    clear:both;
    padding: 0px 25px;
    border-top: 1px solid #eeeeee;
}

.card_item_wrapper.grid_bars .tags{
    border-bottom: 0px;
    padding: 5px 20px;
}

.card_item_wrapper.grid_bars .tags .brand {
    font-size: 21px;
}


.card_item_wrapper.grid_bars .tags .brand,
.card_item_wrapper.grid_bars .tags .name {
    float:left
}

.card_item_wrapper.grid_bars .tags .price {
    float:right;
}

.card_item_wrapper.grid_bars .actions {
    clear:both;
    float:right;
    padding: 10px 20px 0px 15px;
}

/*============================
        SHOP
==============================*/

.shop_wrapper {
    display:flex;
}

.shop_wrapper .left {
    flex-grow: 1;
}

.shop_wrapper .right {
    width: 800px;
}

.collapse_title span {
    text-transform: uppercase;
    font-weight: 700;
}

.grid_btn {
    float: right;
    padding: 10px 10px;
    font-size: 20px;
    color: #c6c6c6;
}
.grid_btn.active {
    color: #727272;
}

.shop_options {
    border-bottom: 1px solid #e8e8e8;
    margin: 0px 20px 20px 20px;
}


/*============================
        PRODUCT DETAIL
==============================*/

.product_detail_wrapper {
    display: flex;   
    margin-bottom: 140px;
}

.product_detail_wrapper .right{
    flex-grow: 1; 
    min-height: 800px;
}


.product_detail_wrapper p {
    font-size: 17px;
    font-family: Arial, Helvetica;
    font-weight: lighter;
}

.product_detail_wrapper .product_tags {
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d3d3;
}

.product_detail_wrapper .product_tags .tag {
    display: flex;
    margin-bottom: 20px;
}

.product_detail_wrapper .product_tags .tag svg {
    font-size: 43px;
    color: #e4e4e4;
    width: 50px;
}

.product_detail_wrapper .product_tags .tag .tag_text {
    font-size: 14px;
    text-transform: uppercase;
    color: #999592;
    padding-left: 20px;
}

.product_detail_wrapper .product_actions .price{
    font-size: 40px;
    font-weight: 300;
}
.product_detail_wrapper .product_actions .cart {
    width: 149px;
}
.user_cart_sum {
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid #e7e7e7;
    background: #f7f7f7;
    padding: 20px 30px;
}

.cart_no_items svg ,
.cart_success svg {
    font-size: 130px;
    color: #717171;
}
.cart_no_items,
.cart_success {
    text-align: center;
    font-size: 28px;
    color: #999592;
}


.product_detail_wrapper .product_actions {
    padding: 20px 0px 30px 0px;
    border-bottom: 1px solid #d3d3d3;
}

.product_detail_wrapper .product_specifications .item{
    font-size: 15px;
    text-transform: uppercase;
    color: #838383;
}

.product_detail_wrapper .product_image_container {
    margin-top: 30px;
    padding-right: 70px;
}

.product_detail_wrapper .main_pic {
    box-sizing: border-box;
    cursor: pointer;
}

.product_detail_wrapper .main_pic div {
    width: 100%;
    height: 446px;
    border: 1px solid #d9d9d9;
    background-size: contain !important;
    background-position: center center !important;
}

.product_detail_wrapper .main_thumbs {

    margin-top: 10px;
}



.product_detail_wrapper .main_thumbs .thumb {
    cursor: pointer;
    height: 200px;
    width: 50%;
    background-size: cover !important;
    background-position: bottom center !important;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    float: left;
}

.paypal_button_container{
    margin: 10px 0px;
}

/*=============================
         REGISTER LOGIN
===============================*/

.register_login_container {
    display: flex;
    border: 1px solid #999592;
    border-top: 5px solid #999592;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 80px 0px 110px 0px;
    padding: 30px;
    min-height: 430px;
}

.register_login_container .left,
.register_login_container .right {
    flex:1
}

.register_login_container h2 {
    margin: 20px 0px;
    text-transform: uppercase;
    color: #686868;
}

.register_login_container p{
    font-weight: 300;
    font-size: 16px;
    width: 90%;
}

/*=============================
         USER
===============================*/

.user_container {
    display:flex;
    margin-bottom: 50px;
    min-height: 700px;
}

.user_container .user_left_nav {
    border-right: 1px solid #f8f8f8; 
    
}

.user_container .user_left_nav .links a {
    display: block;
    border-bottom: 1px solid #dddddd;
    font-size: 20px;
    font-weight: 300;
    padding: 10px 0px;
    width: 280px;
}

.user_container  .user_right {
    flex-grow: 1;
    padding: 0 0 0 29px;
}

.user_container .user_nfo_panel {
    background: #f8f8f8;
    padding: 20px;
    margin-top: 20px;
}

.user_container .user_nfo_panel h1 {
    margin: 0 0 20px 0;
    line-height: 32px;
    text-transform: uppercase;
    font-size: 25px;
}


.user_container .user_nfo_panel span{
    display: block;
    font-size: 18px;
    font-weight: 300;
}


.user_product_block {
    display: flex;
    flex-wrap: wrap;
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ebebeb;
}

.user_product_block .item {
    flex-grow: 1;
}

.user_product_block .item .image{
    height: 125px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    margin-right: 10px;
}
.user_product_block .item.btn {
    width: 0px;
}


.user_product_block .cart_remove_btn {
    cursor: pointer;
    background: #F44336;
    display: inline-block;
    padding: 5px 10px;
    color: #ffffff;
    margin-top: 50px;
}

/*=============================
         ADMIN
===============================*/

.admin_category_wrapper {
    padding-bottom: 50px;
    border-bottom: 4px solid #e9e9e9;
}

.admin_two_column {
    display: flex;
}

.admin_two_column .right {
    flex-grow: 1;
}
.brands_container {
    height: 200px;
    overflow-y: scroll;
    margin-right: 20px;
}

.brands_container .category_item {
    width: 200px;
    font-size: 20px;
    font-weight: 300;
    border: 1px solid #f1f1f1;
    padding: 10px;
    position: relative;
    background: #999592;
    color: #fff;
}

.dropzone {
    border: 1px solid #e5e5e5;
    margin-bottom: 40px;
}

.dropzone_box {
    float: left;
    width: 25%;
    height: 160px;
    padding: 10px;
    box-sizing: border-box;
}

.dropzone_box  .wrap {
    background: #eaeaea;
    height: 100%;
    text-align: center;
    padding-top: 31px;
    box-sizing: border-box;
    font-size: 49px;
    background-size: contain !important;
    background-position: center center !important;
    border: 1px solid #eaeaea;
}

/* MESSAGE BOARD  */

.centred {
    font-size: 30px;
    padding-left:5px;
    color:rgb(241, 235, 235);
}
.authorStamp {
    font-size: 14px;
    color:rgba(143, 140, 140, 0.582);
    padding-right:10px;
    text-align: right;
}
/*
.indMessage {
    display:grid;
    text-align:center;
    grid-template-rows: auto auto auto auto;
    margin:auto;
    grid-row: 1/4;
    width: 70%;
    border-bottom: 2px solid rgba(92, 86, 86, 0.541);
    background-color:rgba(223, 182, 182, 0.061);
    transition:2s;

}
*/

.indMessage {
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content:center;
    width:80%;
    padding-left:10%;
    padding-right:10%;
    border-bottom:10px solid rgba(0, 0, 0, 0.061);
}
.indMessage:hover {
    background-color:rgba(211, 203, 203, 0.054);
    
   
}
.latestMessageTitle {
    font-size:20px;
    color:black;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.13);
}
.centredLatest {
    font-size:40px;
    color:black;
    text-align: center;
    letter-spacing: 5px;
}

.frontMessages {
    display:flex; 
    justify-content: space-around;
    width:80%;
    border-top:15px solid rgba(0, 0, 0, 0.082);
    padding-top:25px;
    padding-bottom:25px;
    margin:5% 7.5% 5% 10%;
    border-bottom:15px solid rgba(0, 0, 0, 0.082);
    background-image:radial-gradient(rgba(245, 244, 244, 0.582), rgba(245, 244, 244, 0.507));
    background-size: cover;
}


.one {
}

.latestMessage {
    display:grid;
    text-align:center;
    grid-template-rows: auto auto auto auto;
    grid-row: 1/4;
    padding-left:25px;
    padding-right:25px;
    width: 85%;
    margin-right:5px;
    margin-left:10px;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.048);
    background-color:rgba(27, 25, 25, 0.041);
    border-top: dashed 2px #0000000a;
    transition:2s;
}

.latestMessage:hover {
    background-color:rgba(211, 203, 203, 0.287);
    
   
}
.latestSportsMessage {
    display:grid;
    text-align:center;
    grid-template-rows: auto auto auto auto;
    grid-row: 1/4;
    width: 90%;
    margin:auto;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.048);
    background-color:rgba(27, 25, 25, 0.041);
    border-top: dashed 2px #0000000a;
    transition:2s;
}

.hello {
    height:700px;
    width:100%;
    margin-left:10px;
}
.waterTitle {
    color:rgba(129, 124, 124, 0.123);
    text-align:left;
    

}
.messageBoardDate {
    color:rgba(0, 0, 0, 0.315);
}
.latestMessages {
    background-color: #dad6d693;
    width:60%;
    height:40px;
    padding-top:10px;
    padding-left:5px;
}

.latestMessages:hover {
    background-color:#d4d1d1c4;

}

.inpSearch:hover {
    background-color: rgba(243, 242, 242, 0.452);
}

.messageBoardImg {
    height:200px;
    width:200px;
    overflow: hidden;
    transition:5s;
    border-radius:3%;
    margin-right:10px;
    box-shadow: #6b6b6bc2;
    margin-bottom:4px;
}
.messageBoardImg:hover {
    height:200px;
    width:200px;
    overflow: hidden;
    transform:scale(1.01);
    

}
.messageBoardImgFront {
    height:300px;
    width:300px;
    overflow: hidden;
    transition:5s;
    border-radius:50%;
    border:solid 5px rgba(12, 8, 8, 0.596);
    box-shadow: #6b6b6bc2;
    opacity:0.8;
    margin-bottom:4px;
    justify-self: center;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.109);
}

.verticalLine {
    border-right:15px solid rgba(0, 0, 0, 0.089);
    margin-right:5px;
    margin-left:5px;
}

/* Sports */

#sliderSmall {
    position:relative;
    background-size: cover !important;
    background-position: center left !important;
    width:100% !important;
    height:200px;
}

#sportsHeader {
    font-size: 100px;
    color:rgb(255, 49, 145);
    position: absolute;
    top:150px;
    left:330px;
    text-shadow:8px 6px #070706af;
    animation:fadein 5s;
    background-color: rgba(53, 51, 51, 0.089);
    border-radius: 35%;

}

#sportsLinks {
    display:flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

.indSportsLinks {
    margin-right: 5%;
    font-size:15px;
}

.indSportsLinks:hover {
    background-color: #000;
    color:whitesmoke;
}

.cont {
    display:flex;
    flex-wrap:wrap;
}
.dividers2 {
    height:5px;
    width:100%;
    background-color: #000000;
}
.sportsItem {
    width:80%;
    height:max-content;
    background-color: #ffffff;
    margin:auto;
    margin-bottom:50px;
    text-align: center;
    align-items: center;
}
#bingocard {
    background-image:linear-gradient(rgba(255, 255, 255, 0.034),rgba(255, 255, 255, 0));
    background-repeat: no-repeat;
    padding-top:10px;
    text-align: center;
    font-size: 80px;
    background-size: 200px;
    color:rgb(0, 0, 0);
    
}
#bingoCardInner1, 
#bingoCardInner11,
#bingoCardInner21, 
#bingoCardInner31,
#bingoCardInner41,
#bingoCardInner51,
#bingoCardInner61,
#bingoCardInner71,
#bingoCardInner81
                {
    color:whitesmoke;
    text-shadow:2px 2px #000;
    background-color: blue;
    border-radius:100%;
    height:100px;
    width:100px;
    margin-right:5px;
    background:radial-gradient(circle at 25px 100px, #5cabff, #000);
    animation:fadein 2s;

}
#bingoCardInner2, 
#bingoCardInner12,
#bingoCardInner22,
#bingoCardInner32,
#bingoCardInner42,
#bingoCardInner52,
#bingoCardInner62,
#bingoCardInner72,
#bingoCardInner82
                 {
    color:whitesmoke;
    text-shadow:2px 2px #000;
    background-color: rgb(255, 0, 0);
    border-radius:100%;
    height:100px;
    width:100px;
    margin-right:5px;
    background:radial-gradient(circle at 25px 100px, #ff825c93, #000);
    animation:fadein 2s;


}

@keyframes fadein {
    from { opacity:0 }
    to { opacity:1 }
}

#bingoCardInner3,
#bingoCardInner13,
#bingoCardInner23,
#bingoCardInner33,
#bingoCardInner43,
#bingoCardInner53,
#bingoCardInner63,
#bingoCardInner73,
#bingoCardInner83
                 {
    color:whitesmoke;
    text-shadow:2px 2px #000;
    background-color: rgb(0, 255, 13);
    border-radius:100%;
    height:100px;
    width:100px;
    margin-right:5px;
    background:radial-gradient(circle at 25px 100px, #5cffae, #000);
    animation:fadein 2s;

}#bingoCardInner4, 
#bingoCardInner14,
#bingoCardInner24,
#bingoCardInner34,
#bingoCardInner44,
#bingoCardInner54,
#bingoCardInner64,
#bingoCardInner74,
#bingoCardInner84
                 {
    color:whitesmoke;
    text-shadow:2px 2px #000;
    background-color: rgb(255, 0, 234);
    border-radius:100%;
    height:100px;
    width:100px;
    margin-right:5px;
    background:radial-gradient(circle at 25px 100px, #ff5ca0, #000);
    animation:fadein 2s;

}
#bingoCardInner5,
#bingoCardInner15,
#bingoCardInner25,
#bingoCardInner35,
#bingoCardInner45,
#bingoCardInner55,
#bingoCardInner65,
#bingoCardInner75,
#bingoCardInner85
                 {
    color:whitesmoke;
    text-shadow:2px 2px #000;
    background-color: rgb(255, 196, 0);
    border-radius:100%;
    height:100px;
    width:100px;
    margin-right:5px;
    animation:fadein 2s;

}
#bingoCardInner6,
#bingoCardInner16,
#bingoCardInner26, 
#bingoCardInner36,
#bingoCardInner46,
#bingoCardInner56,
#bingoCardInner66,
#bingoCardInner76,
#bingoCardInner86
                 {
    color:whitesmoke;
    text-shadow:2px 2px #000;
    background-color: rgb(0, 255, 234);
    border-radius:100%;
    height:100px;
    width:100px;
    margin-right:5px;
    background:radial-gradient(circle at 25px 100px, #5cabff5e, #000);
    animation:fadein 2s;


}





#bingoCardInner7, 
#bingoCardInner17,
#bingoCardInner27,
#bingoCardInner37,
#bingoCardInner47,
#bingoCardInner57,
#bingoCardInner67,
#bingoCardInner77,
#bingoCardInner87
                 {
    color:whitesmoke;
    text-shadow:2px 2px #000;
    background-color: rgb(230, 23, 212);
    border-radius:100%;
    height:100px;
    width:100px;
    margin-right:5px;
    background:radial-gradient(circle at 25px 100px, #ff5cf136, #000);
    animation:fadein 2s;
}

#bingoCardInner8,
#bingoCardInner18,
#bingoCardInner28,
#bingoCardInner38,
#bingoCardInner48,
#bingoCardInner58,
#bingoCardInner68,
#bingoCardInner78,
#bingoCardInner88
                 {
    color:whitesmoke;
    text-shadow:2px 2px #000;
    background-color: rgb(25, 107, 14);
    border-radius:100%;
    height:100px;
    width:100px;
    margin-right:5px;
    background:radial-gradient(circle at 25px 100px, #41f3145e, #000);
    animation:fadein 2s;
}
#bingoCardInner9,
#bingoCardInner19,
#bingoCardInner29,
#bingoCardInner39,
#bingoCardInner49,
#bingoCardInner59,
#bingoCardInner69,
#bingoCardInner79,
#bingoCardInner89
                 {
    color:whitesmoke;
    text-shadow:2px 2px #000; 
    background-color: rgb(255, 123, 0);
    border-radius:100%;
    height:100px;
    width:100px;
    margin-right:5px;
    background:radial-gradient(circle at 25px 100px, #e6b2095e, #000);
    animation:fadein 2s;
}

#bingoCardInner10,
#bingoCardInner20,
#bingoCardInner30,
#bingoCardInner40,
#bingoCardInner50,
#bingoCardInner60,
#bingoCardInner70,
#bingoCardInner80,
#bingoCardInner90
                 {
    color:whitesmoke;
    text-shadow:2px 2px #000; 
    background-color: rgb(0, 255, 221);
    border-radius:100%;
    height:100px;
    width:100px;
    margin-right:5px;
    background:radial-gradient(circle at 25px 100px, #09e62e5e, #000);
    animation:fadein 2s;
}


.cont {
    display:flex;
    font-size: 40px !important;


}

.eventBoardImg {
    height:25%;
    width:50%;
    overflow: hidden;
    transition:5s;
    border-radius:3%;
    box-shadow: #6b6b6bc2;
    margin-bottom:4px;
    border:5px solid grey;
    opacity:0.8;
}


/* site performance */

.engagementContainer {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  
}

.totalContainer {
    background-image:linear-gradient(rgba(253, 251, 246, 0.637),rgba(255, 255, 255, 0.541)),url(../../../src/images/featured/teamwork.jpg);
    background-size:cover;
}

.engagementGridItem {
    margin-left:30px;
    margin-right:30px;
    margin-bottom:40px;
    margin-top:35px;
    color:whitesmoke;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.883);
    padding:15px;
}

.sportFull {
    background-image:linear-gradient(rgba(253, 251, 246, 0.931),rgba(255, 255, 255, 0.781)),url(../../../src/images/featured/tennis.jpg);
    background-size:cover;
}

.newsWellFull {
    background-image:linear-gradient(rgba(253, 251, 246, 0.863),rgb(255, 255, 255)),url(../../../src/images/featured/lifestyle.jpg);
    background-size:cover;
}

.flowers {
    background-image:linear-gradient(rgba(211, 161, 95, 0.863),rgba(233, 186, 58, 0.794)),url(../../../src/images/featured/chorltonflowers.jpg);
    background-size:100%;
}