$primaryColor:rgba(255, 72, 0, 0.965);
$secondaryColor:rgba(199, 187, 14, 0.924);
$backgroundDarkColor:rgb(0, 0, 0);


@import "header";
@import "footer";
@import "form";
@import "bingo";
@import "loginRegister";
@import "user";
@import "admin";
@import "sports";
@import "sitePerformance";
@import "sportsLinks";
@import "home";
@import "pegFrontCont";
@import "base";


.delete {
    display:flex;
    flex-direction: row-reverse;
}

.slick-slide:first-child {
    z-index: 10;
}

.pegButton {
    margin:auto;
}
.container {
    width:100%;
    margin: 0 auto;
}
.page_container {
    min-height: 75vh;
}
.main_loader {
    text-align: center;
    margin-top: 10rem;
}

.page_wrapper {
    padding-top: 8.5rem;
}

a {
    text-decoration: none;
    color:inherit;
}

.bck_b_dark {
    background: #272723;
    width:100%;
}

.dialog_alert {
    padding: 5.1rem;
    font-size: 3lrem;
}

.load_more_container {
    clear: both;
    margin-bottom: 5rem;
    border-top: 5px solid #f5f5f5;
    padding-top: 2rem;
}

.load_more_container span {
    cursor: pointer;
    background: #2196F3;
    color: #ffffff;
    font-size: 27px;
    padding: 1rem 6rem;
    display: table;
    margin: 0 auto;
}

.no_result {
    font-size: 4rem;
    color: #999592;
    text-align: center;
    padding-top: 4rem;
}

.not_found_container {
    font-size: 7rem;
    text-align: center;
    padding-top: 7rem;
    color: #dddddd;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

/*============================
            BUTTONS
==============================*/
.link_default {
    text-transform: uppercase;
    padding: 1rem;
    display: table;
    background: #e1ddc3;
    margin-top: 1rem;
    transition:0.3s linear;
}

.link_default:hover {
    background: #080808;
    color:gray;
}




/*============================
        PAGE TOP
==============================*/

.page_top {
    border-bottom: 1px solid #999592;   
    padding: 2rem 0rem;
    text-transform: uppercase;
}

/*============================
        FEATURED IMAGE
==============================*/

.featured_container .featured_image {
    position:relative;
    background-size: cover !important;
    background-position: center left !important;
    height:55rem !important; 
    width:100%;
}

@media(max-width:550px){
    .featured_container .featured_image {
        position:relative;
        background-size: cover !important;
        background-position: center left !important;
        height:30rem !important;
        width:100%;
    }
}

.featured_container .featured_action {
    position: absolute;
    top: 40%;
    left: 4%;
}

.featured_container .featured_action .tag {
    background: #82828287;
    color: #ffffff;
    padding: 0px 1rem;
    text-transform: uppercase;
    display: table;
    width:95%;
}

.featured_container .featured_action .tag.title {
    font-size: 6rem;
    font-weight: 700;
}

@media(max-width:850px){
    .featured_container .featured_action .tag.title {
        font-size: 3.5rem;
        font-weight: 700;
    }
}

@media(max-width:550px){
    .featured_container .featured_action .tag.title {
        text-align:center;
    }
}

.featured_container .featured_action .tag.low_title {
    font-size: 4.5rem;
    font-weight: 300;
    margin-top: 1rem;
}

@media(max-width:850px){
    .featured_container .featured_action .tag.low_title {
        font-size: 4rem;
        font-weight: 600;
    }
}
@media(max-width:550px){
    .featured_container .featured_action .tag.low_title {
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
    }
}

/* MESSAGE BOARD  */

.centred {
    font-size: 3rem;
    padding-left:0.5rem;
    color:rgb(241, 235, 235);
}
.authorStamp {
    font-size: 1.4rem;
    color:rgba(143, 140, 140, 0.582);
    padding-right:1rem;
    text-align:center;
}

.indMessageMain {
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content:center;
    width:80%;
    padding-left:10%;
    padding-right:10%;
    margin-bottom: 2%;
    border-bottom:10px solid rgba(0, 0, 0, 0.061);
    background-image:radial-gradient(rgba(253, 251, 246, 0.144),rgba(251, 247, 243, 0.897)),url(../../../src/images/sports/background3.jpg);
    background-size:7000%;
}

.indMessage {
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content:center;
    width:60%;
    padding-left:10%;
    padding-right:10%;
    margin-bottom: 2%;
    border-bottom:1rem solid rgba(0, 0, 0, 0.061);
    background-image:radial-gradient(rgba(253, 251, 246, 0.144),rgba(251, 247, 243, 0.897)),url(../../../src/images/sports/background3.jpg);
    background-size:7000%;
}

@media (max-width:850px){
    .indMessage {
        width:80%; 
    }
}
.indMessage:hover {
    background-color:rgba(211, 203, 203, 0.054);
    
   
}
.latestMessageTitle {
    font-size:2rem;
    color:black;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.13);
    text-align: center;
}
.centredLatest {
    font-size:4rem;
    color:black;
    text-align: center;
    letter-spacing:0.5rem;
}

.latestMessage {
    display:grid;
    text-align:center;
    grid-template-rows: auto auto auto auto;
    grid-row: 1/4;
    padding-left:2.5rem;
    padding-right:2.5rem;
    width: 80%;
    margin-right:5px;
    margin-left:5px;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.048);
    background-color:rgba(27, 25, 25, 0.041);
    border-top: dashed 2px #0000000a;
    transition:2s;
}
@media (max-width:850px){
    .latestMessage {
        margin:auto;
        width:90%;
    }
}

.latestMessage:hover {
    background-color:rgba(211, 203, 203, 0.287);
    
   
}
.hello {
    width:100%;
    margin-left:2rem;
    margin-bottom:4rem;
}

@media (max-width:850px){
    .hello {
        display:flex;
        flex-direction: column;
        margin-top:2rem;
        align-items:flex-start;
        margin-left:1.5rem;
    }
}
.waterTitle {
    color:rgba(129, 124, 124, 0.123);
    text-align:left;
    

}
.messageBoardDate {
    color:rgba(0, 0, 0, 0.315);
    text-align: center;
}
.latestMessages {
    background-color: #dad6d693;
    width:60%;
    height:4rem;
    padding-top:1rem;
    padding-left:0.5rem;
}

.latestMessages:hover {
    background-color:#d4d1d1c4;

}

.inpSearch:hover {
    background-color: rgba(243, 242, 242, 0.452);
}

.messageBoardImg {
    height:20rem;
    width:20rem;
    overflow: hidden;
    transition:5s;
    border-radius:3%;
    margin-right:1rem;
    box-shadow: #6b6b6bc2;
    margin-bottom:4px;
}
.messageBoardImg:hover {
    height:20rem;
    width:20rem;
    overflow: hidden;
    transform:scale(1.01);

}

.verticalLine {
    border-right:1.5rem solid rgba(0, 0, 0, 0.089);
    margin-right:5px;
    margin-left:5px;
}

/* site performance */



@keyframes moveTitle {
    0% {
        font-size:50px;
        opacity:1;

   
}

    75% {
        font-size:55px;
    }

    85% {
        opacity:0.2
    }
    95% {
        font-size:60px;
    }
    100% {
        font-size:50px;
        opacity:0;
 //       transform: translateY(100px);
    }
}

#chorltonT {
    font-size:9rem;
    font-weight: bold;
  //  transition:1s linear;
}

#what {
  //  height:20rem;
}


.engagementContainer {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  
}

.totalContainer {
    background-image:radial-gradient(rgba(253, 251, 246, 0),rgba(255, 255, 255, 0)),url(../../../src/images/featured/teamwork.jpg);
    background-size:100%;
    background-attachment: fixed;
    height:100%
    
}

.engagementGridItem {
    margin-left:3rem;
    margin-right:3rem;
    margin-bottom:4rem;
    margin-top:3.5rem;
    color:whitesmoke;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.883);
    padding:1.5rem;
    transition:2s linear;

    &:hover {
        background-color: rgba(128, 128, 128, 0.979);
    }
}

@media (max-width:850px) {
    .flowers {
        display:flex;
        flex-direction:column;
    }
}
@media (min-width:851px){
    .flowers {
        flex-direction: row;
    }
}

.flowers {

    background-image:linear-gradient(rgba(211, 161, 95, 0.959),rgba(233, 186, 58, 0.76)),url(../../../src/images/featured/chorltonflowers.jpg);
    background-size:100%;
    width:100%;
    display:flex;
    

}

.charityContainer {
    display:flex;
    flex-direction: row;
    padding-bottom: 5%;
    opacity:0.85;
    flex-wrap: wrap;
    justify-content: center;
}

.charityItems {
    display:flex;
    flex-direction: column;
    margin:5%;
    border-radius: 100%;
    opacity: 0.85;
}
.charityBackground {
    background-image:linear-gradient(rgba(240, 237, 233, 0.849),rgba(226, 223, 217, 0.897)),url(../../../src/images/sports/charity.gif);
    background-size:cover;
}


.sportsContactsContainer {
    display:flex;
    flex-direction:row;
    flex-grow:1;
    flex-wrap:wrap;
    justify-content: center;
}
.indSportsContactDetails {
    display:flex;
    flex-direction: row;
    flex-grow:1;
    margin-bottom:2.5vh;
    margin-top:2.5vh;
    margin-right:5vw;
    margin-left:5vw;
    transition:4s;
    padding:10px;
    
}

.indSportsContactDetails:hover{
    background-color:rgba(0, 0, 0, 0.027);

    }
    
    .latestMessageContacts {
    display:grid;
    text-align:center;
    grid-template-rows: auto auto auto auto;
    grid-row: 1/4;
    padding-left:2.5rem;
    padding-right:2.5rem;
    width: 95%;
    margin-right:5px;
    margin-bottom:5vh;
    margin-left:5px;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.048);
    background-color:rgba(27, 25, 25, 0.041);
    border-top: dashed 2px #0000000a;
    transition:2s;
}

.contactBorder {
    height:4px;
    width:100%;
    margin:auto;
    background-color:rgba(0, 0, 0, 0.089);
}

.sportsContactsImg {
    height:7.5rem;
    width:7.5rem;
    border-radius:10%;
    border:2px solid green

}

.hiddenMenu {
    display:none;
    visibility: hidden;
}

@media (max-width:850px){
    .hiddenMenu {
        display:block;
        visibility: visible;
    }
}

@keyframes heightchanger {
    0% {
        height:0px;
        opacity:0;
    }
    75% {
        height:50px;
        opacity:0;
    }

    85% {

    }
    95% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.open {
    display:flex;
    flex-direction: column;
    height:100%;
    animation:heightchanger 1s linear;
    
}


.closed {
    display:none;
    height:0px;
    
}

.taskbutton {
    background-color:rgba(255, 170, 0, 0.616);
    margin-bottom:1rem;
    text-align: center;
    padding-top:5px;
    padding-bottom:5px;
    font-size:25px;
    width:100%;
}

.taskbutton:hover {
    background-color:rgba(255, 217, 0, 0.253);
}

.adminlinks:hover{
    background-color:rgba(128, 128, 128, 0.144);
}

.adminlinks{
    background-color:rgba(128, 128, 128, 0.02);
    text-align:center;
}
.adminlinks:last-child {
    margin-bottom:5px;
}

.submitBtn {
    background-color:goldenrod;
    width:50%;
    font-size:2rem;
    letter-spacing:3px;
    align-self: center;
    margin-top:1rem;

}

.submitBtn:hover {
    background-color:rgba(255, 184, 3, 0.883);
}


.RED {
    color:red;
    transition:0.5s linear;
    font-size:1.3rem;
}

.RED:hover {
    color:red;
}

.BLACK {
    color:black;
    transition:0.2s ease-out;
}

.BLACK:hover {
    color:rgba(255, 255, 255, 0.794);
    font-size:1.35rem;
    
}



#bottomWide {
    display:flex;
    flex-wrap:wrap;
    text-transform: uppercase;
    font-weight: 700;
    color:#070606;
    width:100%;
    justify-content: space-around;
    padding-top:7px;
    flex-direction: row;
    padding-bottom:3px; 
    background-color:goldenrod;
    position:fixed;
    top:-50px;
   z-index: -5000000000000000000;
   transition:2s linear;

    .RED {
        color:red;
        transition:0.5s linear;
        font-size:1.7rem;

        &:hover {
            color:red;
        }
    }
    
    
    
    .BLACK {
        color:black;
        transition:0.2s ease-out;
        font-size:1.7rem;

        &:hover {
            color:rgba(255, 255, 255, 0.794);
            font-size:1.7rem;
        }
    }
    
  
}

.slantContainer {
    margin-top:50px;
    margin-bottom:50px;
    padding:0;
    height:150%;
    width:100%;
    overflow: hidden;
    display:flex;
    flex-direction:column;
    justify-self: center;
    margin-left:0%;
    transition: 5s linear;

    .slant {
        position: relative;
        overflow:hidden;
        justify-items:center;
        font-size:80px;
        text-shadow: 3px solid goldenrod;
    
        img {
            margin-top:5px;
            height:100%;
            width:100%;
            transition:1s;
            &:hover {
            transform:scale3d(1.1,1.05,2);
            }      
        }
    /*
        &::before {
            content: "";
            display:block;
            position:absolute;
            bottom:-60px;
            top:-50px;
            right:90px;
            left:-20px;
            width:150%;
            height:100px;
            background: #ffffff;
            transform: rotate(1deg);
            transition: transform 5s;
        }
    
        &:hover::before {
            transform: rotate(-1deg);
        }

        &::after {
            content: "";
            display:block;
            position: relative;;
            top:-70px;
            left:-20px;
            width:200%;
            height:150px;
            background: #ffffff;
            transform: rotate(1deg);
            transition: transform 5s;
        }
        &:hover::after {
            transform: rotate(-1deg);
        }
        */

    }
      
}
//small pop ups in footer/////////////

[data-popup]{
    position:absolute;
    display:none;
    flex-direction:row;
 //   width:25vw;
  //  height:25vh;
    top:-10vh;
    left:25vw;
    z-index:-50000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
    border:2px solid #a8a8a893;
    padding:0.2em;
    overflow:auto;
    box-sizing:border-box;
    font-size: 1rem;
    background-color:gray;
    opacity:0.5;
    transition:opacity 2s linear;
  
}

[data-popup="open"]{
    z-index:9999999999999999999999999;
    display:flex;
    position:absolute;
    width:20vw;
    height:8vh;
    top:0vh;
    left:5vw;
    color:black;
    opacity:0.95;
    font-size:1.6rem;
    border-radius:5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow:2px solid rgba(0, 0, 0, 0.294);

}

[data-popup] [data-control="close"]{
    font-size:1em;
    font-weight: bold;
    background:#fff;
    color:#000;
    padding:0 .25rem;
}

.cssAnimationGuidance {
 //   overflow:hidden;
     transition:all 1s linear;
 //   transform:translateX(-100%);
      opacity:0;


    .cssAnimationGuidanceInner {
        transform:translateX(-25%);
        }

    .authorStamp {
        transform:translateX(25%);
    }
}

.bringIn {
    transition:8s all linear;
    font-size:20px;
    opacity:1;

    .cssAnimationGuidanceInner {
        opacity:1 !important;
        transition-delay:opacity 1500ms;
        transition-duration: 3s;
        transform:translateX(0%);
        font-size:20px;
    
    }

    .authorStamp {
        transition-delay: 1300ms;
        transition-duration: 1s;
        transform:translateX(0%);
        font-size:25px;
        font-weight: bold;
        opacity:1;
    }
  
}


